<!doctype html>
<html>
    <head>
        <title>Hello World Koa!</title>
        <link rel="stylesheet" href='<%-data.initStyles%>'>
    </head>
    <body>
        <h1><%-data.title%></h1>
        <div id="root"><%-data.body%></div>
        
    </body>
</html>