<!DOCTYPE html>
<html>
  <head>
    <title>rudux</title>
   <script type="text/javascript" async="" src="./bundle/users.js"></script>
    <link rel='stylesheet' href='/stylesheets/ustyle.css' />
  </head>
  <body>
    <div id="root">
    </div>
    <script type="text/template" id="item_temp">
      <%- body %>
    </script>
  </body>
</html>
