<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <script type="text/javascript" async="" src="./bundle/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
    <div id="root">
     
    </div>
    <script type="text/template" id="item_temp">
      <%- body %>
    </script>
  </body>
</html>
